[freesound]
url: http://www.freesound.org/forum/login.php
username: username
password: password
autologin: on
login: login

[sampleswap]
url: http://www.sampleswap.org/login.php
username: username
password: password
autologin: on
login: Log In


